div#outer
{
	border: 2px solid black;
	height: 500px;
	width: 100%;
}

div#innertop
{
	border: 1px dotted blue;
	height: 50%;
	overflow-y: auto;
	background-color: white;
}

div#innerbot
{
	border: 1px dotted blue;
	height: 100px;
}

textarea#message
{
	height: 100%;
	width: 100%;
	resize: none;
}

button#sendMsg
{
	position: relative;
	left: 10%;
	width: 80%;
}
