# This file goes in htdocs/priv

# The url till http://localhost/priv IS ASSUMED

DirectoryIndex home.html
# If this directory is asked, please show this file

Options -Indexes
# If someone tries to browse server directories, then throw 403 (forbidden)

RewriteEngine On
# Allow all forms of custom URL rewriting

RewriteRule ^(get)/usn/([0-9]+)\.(json|xml) usn.php?usn=$2&rettype=$3
